{%- capture carousel_options -%}
{
  "cellAlign": "left"
}
{%- endcapture -%}

{% assign desktop_slide_width = "desktop:w-1/2" %}

{% if section.blocks.size > 3 %}
  {% assign desktop_carousel = true %}
  {% assign desktop_slide_width = "desktop:w-1/3" %}
{% endif %}



<div class="image-blocks {{ section.settings.vertical_padding }} px-16 desktop:px-56">
  <s-carousel data-options='{{carousel_options}}' {% unless desktop_carousel %} data-init="belowDesktop" {% endunless %}>
    <div class="image-blocks__carousel w-full {% unless desktop_carousel %} desktop:flex justify-center{% endunless %}" js-carousel>
      {% for block in section.blocks %}
        <div class="image-blocks__slide w-full mr-8 {{ desktop_slide_width }} {{ block.settings.text_align }}" js-carousel-slide>
          {% render 'lazy-image' image: block.settings.image %}

          {% if block.settings.text != blank %}
            <p class="font-300 mt-8">{{ block.settings.text }}</p>
          {% endif %}

          {% if cta_text != blank  %}
            <a href="{{ block.settings.cta_url }}" class="image-blocks__btn {{block.settings.cta_style}}">{{block.settings.cta_text}}</button>
          {% endif %}
        </div>
      {% endfor %}

      <button class="carousel-nav image-blocks__left w-[44px] h-[44px] absolute top-1/2 -left-48 z-[2] hidden desktop:block flex items-center justify-center" js-prev-button>
        {% render 'icon-arrow-left' %}
      </button>

      <button class="carousel-nav image-blocks__right w-[44px] h-[44px] absolute top-1/2 -right-48 z-[2] hidden desktop:block flex items-center justify-center" js-next-button>
        {% render 'icon-arrow-right' %}
      </button>
    </div>

    <div class="image-blocks__dots desktop:hidden mt-12 flex flex-row gap-4 justify-center w-full z-[2]" js-carousel-dots>
      {% for block in section.blocks %}
        <button class="image-blocks__dot relative border border-black carousel-dot bg-white w-12 h-12 rounded-full text-[0px]" data-index="{{ forloop.index0 }}" aria-label="Go to slide {{ forloop.index }}">{{forloop.index}}</button>
      {% endfor %}
    </div>
  </s-carousel>
</div>

{% schema %}
{
  "name": "Article Image Blocks",
  "settings": [
    {
      "type": "select",
      "id": "vertical_padding",
      "label": "Vertical Padding",
      "options": [
        {
          "value": "py-0",
          "label": "None"
        },
        {
          "value": "py-16",
          "label": "16px"
        },
        {
          "value": "py-32",
          "label": "32px"
        }
      ],
      "default": "py-32"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text Align",
          "options": [
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-right",
              "label": "Right"
            }
          ],
          "default": "text-left"
        },
        {
          "type": "select",
          "id": "cta_style",
          "label": "CTA Style",
          "options": [
            {
              "value": "btn",
              "label": "Button"
            },
            {
              "value": "link",
              "label": "Link"
            }
          ],
          "default": "btn"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA Text"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "CTA Target"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Article Image Blocks"
    }
  ]
}
{% endschema %}